body {
    background-image: url(food_header_background.jpg);
}

.container{
    background-color: white;
}

#logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-family: monospace;
    border: thick solid gray;
}

.footer {
    color: blanchedalmond;
    background-color: black;
    text-align: center;
}