body{
    background-image: url("food_header_background.jpg");
    width: auto !important;
    overflow-x:hidden !important;
}
.container{
    background-color: white;
}
.footer{
    text-align: center;
    color: blanchedalmond;
    background-color: black;
    margin-top: 100px;
}
#recipes{
    text-align: center;
    background-color: #f1f1f1 ;}

img#br_img{

    height: 300px;
    width: 350px;
    margin-top: 20px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("border.png") 30 round;
    text-align: center;


}
#br_img:hover{
    opacity: 0.5;
}


#heading{
    font-family: 'Marck Script';
    font-size: 50%;
    color: red;
    background-color: #f1f1f1 ;
    text-align: center;
    margin-top: 20px;
}
a:link {
    color: red;
    text-decoration: none;

}



a:hover{
    text-decoration: none;
}
#loggedin{
    width: 20%;
    float: right;
    margin: 3% 15%;}
